/* styles.css */

/* Import the fonts.css file */
@import url('fonts.css');
@import url('header.css');
@import url('footer.css');
@import url('logo.css');
@import url('search.css');
@import url('navigation.css');
@import url('form.css');
@import url('social-media.css');
@import url('language-switcher.css');

:root {
    --primary-color: #122620; /* Example primary color */
    --darkened-primary-color: #0f1e1b; /* Darkened primary color */
    --lightened-primary-color: #1f3b3a; /* Lightened primary color */
    --secondary-color: #fffef9; /* Example secondary color */
    --text-color: #333333; /* Example text color */
    --background-color: #ffffff; /* Example background color */
    --mobile-footer-color: #00bfff; /* Mobile footer color for demonstrating the change */
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Open Dyslexic', sans-serif;
    margin: 0;
    padding: 0;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

main.desktop {
    font-size: 16px;
    padding: 20px;
}

main.mobile {
    font-size: 14px;
    padding: 10px;
}

main.desktop section {
    margin-bottom: 40px;
}

main.mobile section {
    margin-bottom: 20px;
}